In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
result_df = pd.read_csv("/nfs/home/jingt/dissertation-iceberg/data/output_results/tickers_comb_predictive_momentum.csv")

In [4]:
result_df

,timeframe,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
0,15S,0.000010,3.300588,1.263606e-05,8.450035,0.002623,AES,0.819641
1,30S,0.000003,0.900722,1.308893e-05,7.131803,0.001533,AES,0.819641
2,1min,0.000006,1.219945,1.299043e-05,5.561349,0.001552,AES,0.819641
3,2min,0.000028,3.841508,6.169555e-07,0.184256,-0.001643,AES,0.819641
4,5min,0.000021,1.215972,9.274973e-07,0.129149,-0.000936,AES,0.819641
...,...,...,...,...,...,...,...,...
121,30S,-0.000013,-3.409907,-1.122176e-05,-6.615682,-0.001680,WYNN,0.827937
122,1min,-0.000002,-0.290111,1.118168e-06,0.421923,-0.000709,WYNN,0.827937
123,2min,0.000021,1.625674,-2.234440e-05,-4.473205,-0.000608,WYNN,0.827937
124,5min,0.000072,1.651110,-4.421692e-05,-2.950578,-0.000060,WYNN,0.827937
125,10min,0.000108,1.035433,4.188908e-06,0.109598,0.000060,WYNN,0.827937

In [5]:
# Groupby timeframe for adj_R2 positive
result_df[result_df['adj_R2'] > 0].groupby("timeframe").count()

,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
timeframe,,,,,,,
10min,4,4,4,4,4,4,4
15S,8,8,8,8,8,8,8
1min,2,2,2,2,2,2,2
2min,3,3,3,3,3,3,3
30S,7,7,7,7,7,7,7
5min,1,1,1,1,1,1,1

In [6]:
result_df[result_df['tvals_hid'].abs() >= 1.64].groupby("timeframe").count()

,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
timeframe,,,,,,,
10min,8,8,8,8,8,8,8
15S,15,15,15,15,15,15,15
1min,15,15,15,15,15,15,15
2min,11,11,11,11,11,11,11
30S,13,13,13,13,13,13,13
5min,11,11,11,11,11,11,11

In [7]:
# Number of positive beta params for hid
result_df[result_df['params_hid'] > 0].groupby("timeframe").count()

,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
timeframe,,,,,,,
10min,8,8,8,8,8,8,8
15S,15,15,15,15,15,15,15
1min,15,15,15,15,15,15,15
2min,12,12,12,12,12,12,12
30S,13,13,13,13,13,13,13
5min,9,9,9,9,9,9,9

In [15]:
result_df[result_df['tvals_hid'] > 1.64].groupby("timeframe").count()

,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
timeframe,,,,,,,
10min,2,2,2,2,2,2,2
15S,10,10,10,10,10,10,10
1min,11,11,11,11,11,11,11
2min,7,7,7,7,7,7,7
30S,10,10,10,10,10,10,10
5min,5,5,5,5,5,5,5

In [17]:
result_df[result_df['tvals_hid'] < 1.64].groupby('timeframe').count()

,params_vis,tvals_vis,params_hid,tvals_hid,adj_R2,ticker,model_acc
timeframe,,,,,,,
10min,19,19,19,19,19,19,19
15S,11,11,11,11,11,11,11
1min,10,10,10,10,10,10,10
2min,14,14,14,14,14,14,14
30S,11,11,11,11,11,11,11
5min,16,16,16,16,16,16,16